@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This site is not secure. Seriously. I don't recommend putting anything on here you don't want to broadcast to the entire world..</p>
